venv/ 

function-source.zip

# Local terraform files
*.tfstate
*.tfstate.*

# Sensative or local-only variable files
*.tfvars.local
*.auto.tfvars
*.tfvars

# Terraform provider plugins and modules
.terraform*

# Terraform plan files
*.tfplan
plant.out


